.banner_main {
  height: 80vh;
  background-image: url(../../../../assets/undraw_browsing_urt9.svg);
  background-position: 55vw center;
  background-size: 78vh;
  background-repeat: no-repeat;
}

.build_box {
  text-align: left;
  padding-top: 8%;
  padding-left: 8%;
  padding: 10px;
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 2vh;
  width: 50vw;
  left: 4vw;
}

.build_box h1 {
  font-size: 4.6rem;
  font-weight: bold;
  color: var(--light-color);
  line-height: 90px;
  padding-bottom: 20px;
  display: block;
}

.build_box p {
  color: var(--light-color);
  font-size: 20px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 55px;
  text-align: justify;
}

.build_box .btn-budget{
  background-color: var(--secondary-color);
  font-size: 20px;
  padding: 16px ;
  text-transform: uppercase;
  max-width: 278px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  color: var(--light-color);
}

.build_box .btn-budget:hover {
  background: var(--tertiary-color);
  box-shadow: 1px 2px 2px var(--tertiary-color);
}

.btn-grop a:nth-child(2){
  margin-left: 1vw;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}


