<section class="banner_main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 col-sm-12 ">
        <div class="build_box">
          <h1>Criação de WebSites</h1>
          <p class="mb-3">
            Alavanque o seu negócio com mínimo de investimento. criamos soluções simples
            e práticas para empreendores que estão iniciando sua jornada. 
          </p>

            <blockquote class="blockquote">
              <p class="mb-0">
                "Se o seu negócio não estiver na internet, seu negócio ficará 
                sem negócio"
              </p>
              <p class="blockquote-footer mt-1 p-0"><cite title="Título da fonte">Bill Gates</cite></p>
            </blockquote>
          <div class="btn-grop d-flex">
            <a class="btn btn-budget" href="#" role="button">Faça seu orçamento</a>
            <a class="btn btn-budget" href="#" role="button">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>