<div class="modal" id="sitemodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><h1>Header</h1></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>X</span>
        </button>
      </div>

      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laborum 
          blanditiis voluptatum deleniti omnis officiis aliquam excepturi fugit 
          quod tempore voluptas assumenda quo iste, quasi cumque impedit saepe quae 
          sit?
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>