@media (max-width: 600px) {
  .plans_main{
    display: flex;
    align-items: center;
    padding: 24vh 0;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .plans{
    margin-bottom: 8vh;
  }

  .header-card{
    background-position: 64vw center;
  }
}