<h1 class="text-center text-light">Conheça nossos planos?</h1>
<div class="plans_main">
  <div class="container">

    <div class="plans">
      <div class="header-card" style="background-color: #ce2727;">
      </div>
      <div class="card">
        <h5 class="card-subtitle">Card title</h5>
        <ul>
          <li><i class="fas fa-check"></i>&nbsp; oi</li>
          <li><i class="fas fa-check"></i>&nbsp; oi</li>
        </ul>
      </div>
    </div>

    <div class="plans">
      <div class="header-card" style="background-color: #ce2727;">
        oi
      </div>
    </div>

    <div class="plans">
      <div class="header-card" style="background-color: #ce2727;">
        oi
      </div>
    </div>
  </div>
</div>
