<h1 class="text-center text-light pb-5">Conheça nossos planos</h1>
<div class="plans_main">
  <div class="container">

    <div class="plans">
      <div class="header-card">
        <p>Site Institucional</p>
      </div>
      <h6 class="card-subtitle">Site padrão com 6 páginas e formulario para
        contato.
      </h6>

      <div class="card">
        <div class="py-4">
          <ul>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Design Responsivo</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Integrado com Whtas App</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Opção de PWA</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Google Analytics</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Mídias Sociais</li>
            <br>
          </ul>
        </div>
      </div>
      <div class="box-button">
        <a href="#" class="btn btn-success">Conferir Preço</a>
      </div>
    </div>

    <div class="plans">
      <div class="header-card">
        <p>Catálogo digital</p>
      </div>
      <h6 class="card-subtitle">
        Plataforma de venda para expor seus produtos de forma online.
      </h6>

      <div class="card">
        <div class="py-4">
          <ul>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Design Responsivo</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Integrado com Whtas App</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Opção de PWA</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Google Analytics</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Mídias Sociais</li>
            <br>
          </ul>
        </div>
      </div>
      <div class="box-button">
        <a href="#" class="btn btn-success">Conferir Preço</a>
      </div>
    </div>

    <div class="plans">
      <div class="header-card">
        <p>Web Rádio</p>
      </div>
      <h6 class="card-subtitle">
        Site institucional com integração de radio online gratuita.
      </h6>

      <div class="card">
        <div class="py-4">
          <ul>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Design Responsivo</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Google Analytics</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Mídias Sociais</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Configuração broadCast</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Link Online</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Acesso administrativo</li>
          </ul>
        </div>
      </div>
      <div class="box-button">
        <a href="#" class="btn btn-success">Conferir Preço</a>
      </div>
    </div>

    <div class="plans">
      <div class="header-card">
        <p>Site Personalizado</p>
      </div>
      <h6 class="card-subtitle">
        Desenvolvimento exatamente da sua maneira, com funcionalidades especificas.
      </h6>

      <div class="card">
        <div class="py-4">
          <ul>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Design Responsivo</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Integrado com Whtas App</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Opção de PWA</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Google Analytics</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Mídias Sociais</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Funções Extras</li>
          </ul>
        </div>
      </div>
      <div class="box-button">
        <a href="#" class="btn btn-success">Conferir Preço</a>
      </div>
    </div>

    

    

    <!-- 

    <div class="plans">
      <div class="header-card">
        <p>Site Personalizado</p>
      </div>

      <h6 class="card-subtitle">
        Desenvolvimento exatamente da sua maneira, com funcionalidades especificas.
      </h6>

      <div class="card">
        
        <div class="py-4">
          <ul>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Design Responsivo</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Integrado com Whtas App</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Opção de PWA</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Google Analytics</li>
            <li><i class="fas fa-check"></i>&nbsp; &nbsp; Mídias Sociais</li>
          </ul>
        </div>
      </div>
      <div class="box-button">
        <a href="#" class="btn btn-primary">Conferir Preço</a>
      </div>
    </div> -->
  </div>
</div>
