<h1 class="text-center text-light">Conheça nossos planos?</h1>
<div class="plans_main">
  <div class="container">

    <div class="plans">
      <div class="header-card" style="background-color: #ce2727;">
        site Institucional
      </div>

      <div class="card">
        <h5 class="card-subtitle">Site padrão com 6 páginas e formulario para
          contato,
        </h5>
        <ul>
          <li><i class="fas fa-check"></i>&nbsp; &nbsp; Layout Original</li>
          <li><i class="fas fa-check"></i>&nbsp; &nbsp; Design Responsivo</li>
          <li><i class="fas fa-check"></i>&nbsp; &nbsp; Integrado com Whtas App</li>
          <li><i class="fas fa-check"></i>&nbsp; &nbsp; Linkado com mídias Sociais</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>

    </div>

    <div class="plans">
      <div class="header-card" style="background-color: #ce2727;">
        oi
      </div>
    </div>

    <div class="plans">
      <div class="header-card" style="background-color: #ce2727;">
        oi
      </div>
    </div>
  </div>
</div>
