.plans_main{
  display: flex;
  align-items: center;
  padding: 0 0 32vh 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.plans{
  background-color: var(--shadow-primary-color);
  width: 300px;
  height: 500px;
  border-radius: 2%;
  margin: 0 0.5px;
}

.plans:hover{
  width: 300px;
  height: 500px;
  transform:scale(1.1);
  transition-duration: 0.2s;
}

.header-card{
  height: 14vh;
}

.card{
  padding: 4vh;
  background-color: transparent;
  color: var(--light-color);
}