.footer{
  background-color: var(--dark-color);
}

.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logofooter img{
  position: relative;
  right: -4vw;
}


.nav-bottom{
  padding: 15px 25px;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition-duration: 1s;
}

.nav-bottom  a{
  text-decoration: none;
  color: var(--light-color);
  line-height: 5vh;
}

.nav-bottom  a:hover{
  color: var(--shadow-primary-color);
  transform:scale(1.1);
  transition-duration: 0.1s;
  text-shadow: 1px 1px 20px var(--shadow-secondary-color);
}



.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon i{
  transition-duration: 1s;
  box-sizing: border-box;
  font-size: 8vh;
  margin: 0 0.5vw;
  cursor: pointer;
}

i:hover{
  color: #FE31FD;
  box-shadow: 1px 1px 200px #FE31FD;
}
.footer-bottom{
  padding: 2vh;
  color: #D6F6DD;
}

.weabout{
  color: #D6F6DD;
}

.weabout p{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.footer-bottom a{
  color: #D6F6DD;
  text-decoration: none;
  font-weight: bold;
}


