<footer>
  <div class="footer container-fluid">
    <div class="footer-top">
      <div class="row align-center text-center">
        <div class="nav-bottom col-sm">
          <ul>
            <a href=""><li>home</li></a>
            <a href=""><li>sobre</li></a>
            <a href=""><li>serviços</li></a>
            <a href=""><li>portifolio</li></a>
            <a href=""><li>blog</li></a>
          </ul>
        </div>
        <div class="col-sm">
          <img class="Responsive image img-fluid" src="../../../../assets/logo.png" alt="logo dv Rocket">
        </div>
        <div class="col-sm d-flex social-icon" >
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
        <!-- <div class="col-sm bg-success">
          4
        </div> -->
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row align-center">
        <span>©copyright<a href="http://" target="_blank">Dv Rocket</a>2021</span>
      </div>
    </div>
  </div>
</footer>