.logo img {
  height: 64px;
  position: absolute;
  top: 0;
}

.navigation {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  box-shadow: 1px -50px 100px var(--shadow-color);
}

.bg-black {
  background: var(--dark-color);
}

.navigation.navbar-dark .navbar-nav .nav-link {
  padding: 15px 25px;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition-duration: 1s;
}

.dropdown-black{
  background-color: rgba(19, 17, 18, 0.800);
  color: var(--light-color);
}

.dropdown-black button{
  color: var(--light-color);
  border: none;
}

.dropdown-black button:hover{
  color: var(--tertiary-color);
  border: none;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  color: var(--tertiary-color);
}

.dropdown-item{
  background: none;
  border: none;
  font-weight: 600;
  padding: 1vh;
}

.dropdown-item:hover{
  background: none;
  border: none;
}

.navigation.navbar-dark .navbar-nav .nav-link:hover{
  color: var(--tertiary-color);
  transform:scale(1.1);
  transition-duration: 0.1s;
}

.banner_main {
  height: 90vh;
  background-image: url(../../../../assets/undraw_web_devices_ad58.svg);
  background-position: 48vw center;
  background-size: 110vh;
  background-repeat: no-repeat;
}

.build_box {
  text-align: left;
  padding-top: 8%;
  padding-left: 8%;
  padding: 10px;
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 8vh;
  width: 50vw;
  left: 4vw;
}

.build_box h1 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--light-color);
  line-height: 90px;
  padding-bottom: 20px;
  display: block;
  text-shadow: 2px 2px 24px #fff;
}

.build_box p {
  color: var(--light-color);
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 55px;
}

.build_box .btn-budget{
  background-color: var(--secondary-color);
  font-size: 20px;
  padding: 16px ;
  text-transform: uppercase;
  max-width: 278px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  color: var(--light-color);
  box-shadow: 5px 10px 50px var(--primary-color);
}

.build_box .btn-budget:hover {
  background: var(--tertiary-color);
  box-shadow: 5px 10px 50px var(--tertiary-color);
}

.social-icon{
  display: flex;
  align-items: center;
}


.social-icon i{
  color: var(--light-color);
  transition-duration: 1s;
  box-sizing: border-box;
  font-size: 4vh;
  margin: 0 0.5vw;
  cursor: pointer;
}

i:hover{
  color: var(--tertiary-color);
  transform:scale(2.0);
  transition-duration: 0.5s;
}

.btn-grop a:nth-child(2){
  margin-left: 1vw;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}