<div class="container-fluid p-0 m-0">
  <header>
    <nav class="navigation navbar navbar-expand-lg navbar-dark bg-black">
      <div class="logo">
        <a class="navbar-brand " href="index.html"><img class="Responsive image img-fluid" src="../../../../assets/logo.png" alt=""></a>
      </div>
      <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mx-5">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <div class="dropdown">
            <li class="nav-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Serviços
            </li>
            <div class="dropdown-menu dropdown-black" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Criação de sites</button>
              <button class="dropdown-item" type="button">Loja virtual</button>
              <button class="dropdown-item" type="button">E-commerce</button>
              <button class="dropdown-item" type="button">Catalogo Digital</button>
              <button class="dropdown-item" type="button">Artes para Cartões</button>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#">Portifólio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <div class="social-icon">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </ul>
      </div>
    </nav>
    <section class="banner_main">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 col-sm-12 ">
            <div class="build_box">
              <h1>Criação de Sites e Software</h1>
              <p>
                Transformando ideias com sites otimizados e com minimo investimento para um grande negócio de alto
                nivel. Estaremos juntos com você nessa jornada, participando positivamente no começo da sua historia de
                negócios.
              </p>
              <div class="btn-grop d-flex">
                <a class="btn btn-budget" href="#" role="button">Faça seu orçamento</a>
                <a class="btn btn-budget" href="#" role="button">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </header>
</div>
