@media (max-width: 600px) {
  .logo img {
    height: 28px;
  }

  .banner_main {
    background-image: none;
    height: 110vh;
  }

  .build_box{
    text-align: center;
    display: block;
    width: 90vw;
  }
  .build_box h1 {
    font-size: 70px;
    line-height: 70px;
    padding-bottom: 10px;
    margin-bottom: 4vh;
  }

  .build_box p {
    font-weight: 100;
  }

  .build_box .btn-budget{
    font-size: 14px;
    padding: 16px ;
    max-width: 278px;
    color: #D6F6DD;
  }

  .social-icon{
    margin-left: 20px;
  }


}

@media only screen and (min-width: 601px) and  (max-width: 767px){
  .logo img {
    height: 56px;
  }
  .banner_main {
    background-image: none;

  }
  .build_box{
    text-align: center;
    display: block;
    width: 90vw;
  }

  .build_box h1 {
    font-size: 80px;
    line-height: 70px;
    padding-bottom: 10px;
  }

  .social-icon{
    margin-left: 20px;
  }

}



@media only screen and (min-width: 768px) and  (max-width: 992px){
  .logo img {
    height: 52px;
  }

  .build_box h1 {
    font-size: 50px;
    line-height: 40px;
    padding-bottom: 10px;
    display: block;
    width: 90vw;
  }

  .banner_main {
    background-position: 42vw center;
    background-size: 90vh;
  }

  .build_box .btn-budget{
    font-size: 14px;
    padding: 14px ;
  }

  .social-icon{
    margin-left: 20px;
  }
}


@media only screen and (min-width: 993px) and  (max-width: 1085px){
  .banner_main {
    background-position: 42vw center;
    background-size: 110vh;
  }

  .build_box h1 {
    font-size: 80px;
    line-height: 70px;
    padding-bottom: 16px;
  }
}
