.logo img {
  height: 64px;
  position: absolute;
  top: 0;
}

.navigation {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  box-shadow: 1px -50px 100px #FFBFB7;
}

.bg-black {
  background: #020002;
}

.navigation.navbar-dark .navbar-nav .nav-link {
  padding: 15px 25px;
  color: #D6F6DD;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition-duration: 1s;
}

.navigation.navbar-dark .navbar-nav .nav-link:hover{
  color: #FE31FD;
  transform:scale(1.1);
  transition-duration: 0.1s;
}

.banner_main {
  height: 90vh;
  background-image: url(../../../../assets/undraw_web_devices_ad58.svg);
  background-position: 48vw center;
  background-size: 110vh;
  background-repeat: no-repeat;
}

.build_box {
  text-align: left;
  padding-top: 8%;
  padding-left: 8%;
  padding: 10px;
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 8vh;
  width: 50vw;
  left: 4vw;
}

.build_box h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #D6F6DD;
  line-height: 90px;
  padding-bottom: 20px;
  display: block;
  text-shadow: 2px 2px 24px #fff;
}

.build_box p {
  color: #D6F6DD;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 55px;
}

.build_box .btn-budget{
  background-color: #4a2a5c;
  font-size: 20px;
  padding: 16px ;
  text-transform: uppercase;
  max-width: 278px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  color: #D6F6DD;
  box-shadow: 5px 10px 50px #4a2a5c;
}

.build_box .btn-budget:hover {
  background: #fe31fd;
  box-shadow: 5px 10px 50px #fe31fd;
}

.social-icon{
  display: flex;
  align-items: center;
}


.social-icon i{
  color: #D6F6DD;
  transition-duration: 1s;
  box-sizing: border-box;
  font-size: 4vh;
  margin: 0 0.5vw;
  cursor: pointer;
}

i:hover{
  color: #FE31FD;
  transform:scale(2.0);
  transition-duration: 0.5s;
}