@media (max-width: 600px) {

  .boxescontent_main{
    display: flex;
    align-items: center;
    padding: 24vh 0;
  }

  .container{
    /* -webkit-flex-wrap: wrap;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
  }

  .f-grow1{
    width: 24vw;
  }

  .f-grow2{
    width: 60vw;
  }

  .f-grow3{
    width: 80vw;
  } 
}