.boxescontent_main{
  display: flex;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 32vh;
}

.container{
  display: flex;
  justify-content: space-around;
  width: 75vw;
  margin: 0 auto;
  gap: 20px;
}

.box-content{
  height: 10vh;
  border-radius: 10px 10px 0 0 ;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.f-grow1{
  width: 10vw;
}

.f-grow2{
  width: 30vw;
}

.f-grow3{
  width: 60vw;
}


