<h1 class="text-center text-light pb-5">Como Funciona?</h1>
<div class="boxescontent_main">
  <div class="container">
    <div class="box-content f-grow1" style="background-color:#e73a3a;">
      <span>10%</span>
      <span>Briefing</span>
    </div>
    <div class="box-content f-grow2" style="background-color:yellow;">
      <span>30%</span>
      <span>Design</span>
    </div>
    <div class="box-content f-grow3" style="background-color:lightblue;">
      <span>60%</span>
      <span>Desenvolvimento</span>
    </div>
    <div class="box-content f-grow1" style="background-color:lightgreen;">
      <span>10%</span>
      <span>Finalização</span>
    </div>
  </div>
</div>
