.boxeservices_main{
  display: flex;
  align-items: center;
  padding: 24vh 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  background-color: var(--shadow-primary-color);
  width: 300px;
  height: 300px;
  border-radius: 8%;
  margin: 0 25px;
}

.box:hover{
  background-color: var(--shadow-secondary-color);
  transition-duration: 0.5s;
}

.boxcircle{
  height: 128px;
  width: 128px;
  
  position: relative;
  top: -64px;
  margin: 0 auto;

  background-color: var(--shadow-primary-color);

  border-radius: 50%;
  border: 2px solid var(--secondary-color);

  
  background-repeat: no-repeat;
  
}


.box .boxcircle:nth-child(1){
  background-image: url(../../../../assets/clipboard.svg);
  background-size: 14vh;
  background-position: 44% 40% ;
}

.box:nth-child(2) .boxcircle:nth-child(1){
  background-image: url(../../../../assets/web-design.svg);
  background-size: 10vh;
  background-position: 50% 50%;
}

.box:nth-child(3) .boxcircle:nth-child(1){
  background-image: url(../../../../assets/programming.svg);
  background-size: 14vh;
  background-position: 50% 50%;
}



#content{
  display: flex;
  justify-content: space-around;
  width: 75vw;
  margin: 0 auto;
  gap: 20px;
}

.box-content{
  height: 10vh;
  border-radius: 10px 10px 0 0 ;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.f-grow1{
  width: 10vw;
}

.f-grow2{
  width: 30vw;
}

.f-grow3{
  width: 60vw;
}

.card{
  position: relative;
  top: -8vh;
  background-color: transparent;
  color: var(--light-color);
  border: none;
}