@media (max-width: 600px) {

  .boxeservices_main{
    display: flex;
    align-items: center;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .box{
    width: 280px;
    height: 280px;
    margin: 48px 0;
  }
}