<div class="boxeservices_main">
  <div class="container">
    <div class="box">
      <div class="boxcircle">
      </div>
      <div class="card">
        <h5 class="card-title mb-2 text-center text-uppercase">Card title</h5>
        <h6 class="card-subtitle mb-4 text-muted text-center">Card subtitle</h6>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>

    <div class="box p-3">
      <div class="boxcircle">
      </div>
      <div class="card">
        <h5 class="card-title mb-2 text-center text-uppercase">Card title</h5>
        <h6 class="card-subtitle mb-4 text-muted text-center">Card subtitle</h6>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>

    <div class="box">
      <div class="boxcircle">
      </div>
      <div class="card">
        <h5 class="card-title mb-2 text-center text-uppercase">Card title</h5>
        <h6 class="card-subtitle mb-4 text-muted text-center">Card subtitle</h6>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center text-light">Como Funciona?</h1>


<div class="boxeservices_main">
  <div id="content">
    <div class="box-content f-grow1" style="background-color:red;">
      <span>10%</span>
      <span>Briefing</span>
    </div>
    <div class="box-content f-grow2" style="background-color:yellow;">
      <span>30%</span>
      <span>Design</span>
    </div>
    <div class="box-content f-grow3" style="background-color:lightblue;">
      <span>60%</span>
      <span>Desenvolvimento</span>
    </div>
    <div class="box-content f-grow1" style="background-color:lightgreen;">
      <span>10%</span>
      <span>Finalização</span>
    </div>
  </div>
</div>