@media (max-width: 600px) {

  .boxeservices_main{
    padding: 8vh 0;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .box{
    width: 280px;
    height: 280px;
    margin: 48px 0;
  }

  #content{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .f-grow1{
    width: 24vw;
  }

  .f-grow2{
    width: 60vw;
  }

  .f-grow3{
    width: 80vw;
  }
}